@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    background-color: #0b1437;
    color: white; /* Optional: Adjust text color for visibility */
    margin: 0; /* Removes default margin */
    font-family: Arial, sans-serif; /* Optional: Set a consistent font */

}


body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
#google_translate_element{
  @apply hidden
}
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf, .VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc{
  @apply hidden
}
.skiptranslate:hover{
  display: none !important;
  visibility: hidden !important;
}
.VIpgJd-yAWNEb-L7lbkb{
  @apply hidden hover:hidden
}
.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54 {
  all: unset;
}

.VIpgJd-yAWNEb-hvhgNd{
  @apply hidden
}
#goog-gt-tt{
  @apply hidden
}

iframe{
  @apply hidden
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

